@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=Source+Sans+Pro:wght@700;900&display=swap');

body {
    background-color: black;
    color: rgb(0, 0, 0);
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 56px; /* Adjust based on navbar height */
}

.navbar {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
}

.navbar a {
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    width: 30px; /* Adjust size if needed */
    height: 40px; /* Adjust size if needed */
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: red;
}

.navbar-dark .navbar-brand img {
    width: 30px; /* Adjust size if needed */
}

.dropdown-menu {
    background-color: red; /* Red background for dropdown */
    border: none;
}

.dropdown-item {
    color: rgb(0, 0, 0); /* White text for dropdown items */
}

.dropdown-item:hover {
    background-color: darkred; /* Dark red background on hover */
}

/* Button Styles */
.btn-danger {
    background-color: red;
    border-color: red;
}

.btn-danger:hover {
    background-color: darkred;
    border-color: darkred;
}

/* Responsive Styles */
@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
    
    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
}
